@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #007bff;
  --primary-color-dark: #47607a;
  --text-dark: #0c0a09;
  --text-light: #78716c;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding-top: 80px; /* Space for the fixed navbar */
}

/* -------------------------------------------------------------- NAVIGATION BAR (HEADER) ----------------------------------------------------- */

.navbar {
  background-color: #007bff;
  color: white;
  padding: 20px 40px;
  width: 100%;
  position: fixed; /* Make navbar fixed */
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s ease; /* Smooth transition for hide/show */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  transform: translateY(-100%); /* Hide the navbar */
}

/* LANGUAGE SELECTOR */

.lang_menu {
  margin-right: 14px;
  position: relative;
}

.lang_menu ul {
  margin: 0;
  padding: 0;
  background-color: #ccc;
  border: 1px solid #f8f8f8;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: none;
  position: absolute;
  top: 32px;
  left: -12px;
}

.lang_menu ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.lang_menu ul li a {
  width: 90px;
  display: block;
  padding: 1px 8px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: black;
}

.lang_menu ul li a:before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 5px;
  vertical-align: middle;
  border-radius: 50%;
}

.lang_menu ul li a:hover {
  background-color: #f2f2f2;
}

.ph:before {
  background-image: url(https://flagsapi.com/PH/flat/32.png);
}
.jp:before {
  background-image: url(https://flagsapi.com/JP/flat/32.png);
}
.sp:before {
  background-image: url(https://flagsapi.com/ES/flat/32.png);
}
.fr:before {
  background-image: url(https://flagsapi.com/FR/flat/32.png);
}

.lang_menu:hover ul {
  display: block;
}

a {
  text-decoration: none;
}

.selected_lang {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  line-height: 2;
  width: 60px;
}

.selected_lang:before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url(https://flagsapi.com/US/flat/32.png);
}

.nav-login {
  margin-left: auto;
}

.btn {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 0.2rem;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

.login-btn {
  background-color: rgba(49, 49, 49, 0.3);
  color: #ffffff;
  padding: 10px 14px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}

.signup-btn {
  background-color: #fff;
  color: #007bff;
  padding: 10px 14px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 7px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
}

.logo-tag {
  margin-left: 10px;
  background-color: #fff;
  color: #007bff;
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: bold;
}

.nav-menu li a.active {
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
}

.nav-menu li {
  padding: 0 8px;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  justify-content: left;
  flex-grow: 1;
  margin: 0 28px;
}

.nav-menu li {
  padding: 0 4px;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 14px;
  border: 1px solid transparent;
  border-radius: 20px;
}

.nav-menu li a:hover {
  background-color: rgba(99, 98, 98, 0.3);
  text-decoration: none;
}

.nav-menu li a.active {
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: rgba(99, 98, 98, 0.3);
  backdrop-filter: blur(5px);
}

/* Existing styles */
/* ... */

/* New style for the background image */
.header-background {
  background-image: url("IMAGES/airplane.jpg");
  background-size: cover;
  background-position: center;
  height: 250px; /* Initial height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.intro {
  max-width: 600px;
  padding: 30px;
  border-radius: 28px;
  background-color: rgba(0, 0, 0, 0.2);
}

.intro h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.intro p {
  font-size: 1.2rem;
}

/* Media query for smaller screens */

@media (max-width: 768px) {
  .header-background {
    height: 400px; /* Adjust height for smaller screens */
  }

  .intro {
    padding: 10px;
  }

  .intro h1 {
    font-size: 2rem;
  }

  .intro p {
    font-size: 1rem;
  }
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__subheader {
  margin-bottom: 0.5rem;
  position: relative;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--text-dark);
}

.section__subheader::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translate(1rem, -50%);
  height: 2px;
  width: 4rem;
  background-color: var(--primary-color);
}

.section__header {
  max-width: 600px;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--text-dark);
}

.room__grid {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
}

.room__card {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Adjust width as per design */
}

.room__card__image {
  position: relative;
  isolation: isolate;
  width: 35%; /* Adjust width as per design */
}

.room__card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.room__card__details {
  padding: 1rem;
  width: 65%; /* Adjust width as per design */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.room__card__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.room__card__info h4 {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-dark);
  text-align: left;
}

.flight__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.flight__time,
.flight__route {
  display: flex;
  flex-direction: column;
}

.line {
  height: 1px;
  background-color: var(--text-dark);
  width: 120px;
  align-self: center;
}

.price__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.price__details span {
  font-size: 14px;
  color: var(--text-dark);
}

.price__details .btn {
  font-size: 14px;
  padding: 0.5rem 1rem;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .room__grid {
    grid-template-columns: 1fr; /* One column layout for smaller screens */
  }

  .room__card {
    flex-direction: column; /* Stack image and details vertically */
    max-width: 100%; /* Full width on smaller screens */
  }

  .room__card__image {
    width: 100%; /* Full width for the image */
    height: 200px; /* Fixed height for better layout */
  }

  .room__card__details {
    width: 100%; /* Full width for details */
    padding: 1rem 0.5rem; /* Adjust padding for smaller screens */
  }

  .room__card__info h4 {
    font-size: 1.2em; /* Adjust font size for smaller screens */
  }

  .price__details span,
  .price__details .btn {
    font-size: 1em; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .section__container {
    padding: 3rem 0.5rem; /* Adjust padding for smaller screens */
  }

  .room__grid {
    gap: 0.5rem; /* Reduce gap between cards */
  }

  .room__card__details {
    padding: 0.5rem; /* Reduce padding for smaller screens */
  }

  .room__card__info h4 {
    font-size: 1em; /* Adjust font size for smaller screens */
  }

  .price__details span,
  .price__details .btn {
    font-size: 0.9em; /* Adjust font size for smaller screens */
  }
}

/* Footer Section Description */
.section__description {
  max-width: 600px;
  margin-bottom: 1rem;
  color: var(--text-light);
}

/* Footer Styles */
.footer {
  background-color: var(--text-dark);
  /* padding: 4rem 2rem; Adjust padding as needed */
  /* border-top: 1px solid var(--text-light); */
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Responsive grid columns */
}

.footer__col:nth-child(4) {
  justify-self: stretch; /* Stretch the last column to fill the row */
}

.footer__col .section__description {
  margin-block: 2rem;
}

.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.footer__links {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.footer__links a {
  color: var(--text-light);
  text-decoration: none;
  transition: 0.3s;
}

.footer__links a:hover {
  color: var(--white);
}

.footer__socials {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer__socials img {
  max-width: 25px;
  opacity: 0.8;
  transition: 0.3s;
}

.footer__socials img:hover {
  opacity: 1;
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
  border-top: 1px solid var(--text-light);
  margin: 0 auto; /* Center the footer horizontally */
  max-width: 83%; /* Set a maximum width for the footer */
}

/* Media Queries for Responsive Design */
@media (max-width: 1024px) {
  .footer__container {
    grid-template-columns: repeat(
      auto-fit,
      minmax(200px, 1fr)
    ); /* Adjust column sizes for tablets */
  }
}

@media (max-width: 768px) {
  .footer__container {
    grid-template-columns: repeat(
      auto-fit,
      minmax(150px, 1fr)
    ); /* Adjust column sizes for smaller devices */
    gap: 3rem 1rem; /* Increase gap for smaller screens */
  }

  .footer__col:nth-child(4) {
    justify-self: auto; /* Reset alignment for the last column */
  }

  .footer__col .section__description {
    margin-block: 1rem; /* Reduce margin for smaller screens */
  }
}

@media (max-width: 480px) {
  .footer__col h4 {
    font-size: 1rem; /* Decrease font size for small screens */
  }
}

/* Flight Search Form */
.flight-search-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
}

.flight-search-form label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--text-dark);
}

.flight-search-form input,
.flight-search-form select,
.flight-search-form button {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--text-light);
  border-radius: 5px;
  font-size: 1rem;
}

.flight-search-form button {
  background-color: var(--primary-color);
  color: var(--white);
  cursor: pointer;
  transition: background-color 0.3s;
}

.flight-search-form button:hover {
  background-color: var(--primary-color-dark);
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.pagination-container a,
.pagination-container span {
  margin: 0 5px;
  padding: 8px 12px;
  text-decoration: none;
  color: #007bff;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.pagination-container a:hover {
  background-color: #f1f1f1;
}

.pagination-container a.page-number {
  color: #007bff;
}

.pagination-container a.prev,
.pagination-container a.next {
  font-size: 20px;
}

.pagination-container a.page-number.active {
  font-weight: bold;
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

/* Responsive Navbar */
@media (max-width: 1215px) {
  .navbar-container {
    flex-wrap: wrap;
  }

  .hamburger {
    display: flex;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #007bff;
  }

  .nav-menu li {
    padding: 10px 0;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-login,
  .lang_menu {
    display: none;
  }
}

/* Toggle Menu when clicking Hamburger */
.hamburger.active .bar:nth-child(1) {
  transform: rotate(-55deg) translate(-9px, 6px);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: rotate(55deg) translate(-9px, -6px);
}
